name: Nix Build

on:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - '.gitignore'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.2

      - name: "Install Nix ❄️"
        uses: cachix/install-nix-action@v30

      - name: "Install Cachix ❄️"
        uses: cachix/cachix-action@v15
        with:
          name: gvolpe-nixos
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: "Build niri-scratchpad package ⚙️"
        run: nix build .#niri-scratchpad -L
